Source: kodi-visualization-spectrum
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev,
               libgles2-mesa-dev [arm64 armhf], libgl1-mesa-dev [i386 amd64],
               libglm-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-visualization-spectrum
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Spectrum visualizer for Kodi
 Spectrum visualizer for Kodi

Package: kodi-visualization-spectrum-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Spectrum visualizer for Kodi
 debug symbols for Spectrum visualizer for Kodi

